body {
    background: #f5f5f5;
    margin-top: 20px;
    
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}




/* card details */
.card-number,
.exp-date {
    display: flex;
}

.card-number,
.exp-date {
    display: flex;
    gap: 10px;
}

.card-number {
    width: 370px;
}

.exp-date {
    width: 150px;
}

.profilesettings{
    margin-top: 90px;
}



/*------------------------------------------------NAVBAR----------------------------------------*/
.nav {
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.856);
}
.nav:hover a{
    text-decoration: none;
}
.nav_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    float: left;
    width: 50%;
}

.logo img {
    padding: 8px;
    width: 30%;
    margin-left: 10%;
}

.nav_side {
    float: right;
    width: 45%;
    margin-top: 27px;
}

.nav_side a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

.nav_side a:hover {
    color: rgb(79, 255, 88);
    transition: all 1s ease;
}


/* profilepic */
.profilepic {
    width: 35px;
    padding-top: 20px;
    cursor: pointer;
}

/* submenu */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu {
    background: white;
    padding: 20px;
    margin: 10px;
}
.sub-menu:hover a{
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.user-info img {
    width: 50px;
    margin-right: 10px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0px 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    padding-top: 10px;
}
.sub-menu-link img{
    width: 40px;
    padding: 8px;
    margin-right: 10px;
}
.sub-menu-link span{
    font-size: 18px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}